body {
    min-width: 800px;
    font-family: SharpGrotesk, "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    /* height: 2000px; */
    overflow-x: hidden;
}

.main_color {
    background-color: rgb(180, 208, 231);
}

header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    z-index: 5;
}

header * {
    z-index: 3;
}

.head-background {
    background-color: white;
    position: absolute;
    height: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    transition: height 0.2s ease-in;
}

.head-background_active {
    height: 100%;
    width: 100%;
    transition: height 0.2s ease-in;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    text-decoration: underline;
}

.logo {
    flex: 1;
}

.logo * {
    vertical-align: middle;
}

.logo__text {
    font-size: 2em;
    font-weight: 700;
}

.logo__text_blue {
    font-weight: 500;
    color: #0061ff;
}

.navigation {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    flex: 2;
    margin-left: auto;
    text-align: right;
    margin-right: 20px;
}

.arrow {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    transform: rotate(45deg) translate(0, -5px);
}

.navigation__item {
    position: relative;
    padding: 10px;
}

.navigation__item:nth-child(n + 1) {
    padding-left: 20px;
}

.navigation__item button {
    background-color: transparent;
    border: none;
    box-sizing: border-box;
}

.navigation__item button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.navigation__dropbox {
    position: absolute;
    left: 0;
    top: 20px;
    display: none;
    background: #fff;
    border: 1px solid #b8b8b8;
    color: #637381;
    list-style-type: none;
    padding: 20px 40px 10px 10px;
    text-align: left;
}

.navigation__dropbox li {
    margin: 15px;
}

.navigation__dropbox a {
    display: inline-block;
    width: 100%;
}

.navigation__dropbox a:visited {
    color: #637381;
}

.navigation__dropbox::before {
    position: absolute;
    top: -10px;
    left: calc(50% - 5px);
    content: "";
    border-bottom: 10px solid #b8b8b8;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.navigation__dropbox::after {
    position: absolute;
    top: -8px;
    left: calc(50% - 4px);
    content: "";
    border-bottom: 9px solid #fff;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
}

.navigation__item:hover .navigation__dropbox {
    display: inline;
}

.button-try {
    flex: 0.5;
    margin-right: 2%;
    background-color: rgb(255, 255, 255);
    padding: 10px 0px;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    z-index: 2;
}

.button-try:hover {
    text-decoration: none;
    background-color: #f5f5f5;
}

.button-try.button-try_blue {
    background-color: #0061ff;
    color: #fff;
}

.button-try.button-try_blue:hover {
    background-color: #3b85ff;
}

.section_intro {
    margin-top: 0;
    margin-left: 300px;
    margin-right: 250px;
}

.section_intro h1 {
    font-size: 95px;
    line-height: 108px;
    font-family: "SharpGroteskCondensed", "Open Sans", sans-serif;
    letter-spacing: -1px;
    padding-top: 150px;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.section__leftside {
    flex-basis: 22%;
    max-width: 22%;
}

.section__leftside p {
    margin-top: 0;
    font-family: SharpGrotesk, Open Sans, sans-serif;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 40px;
}

.section__leftside > a {
    font-size: 16px;
    line-height: 26px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #0061ff;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

.section__leftside > a:hover {
    background-color: #3b85ff;
}

.section__leftside ul {
    font-family: AtlasGrotesk, Open Sans, sans-serif;
    font-size: 14px;
    line-height: 21px;
    list-style-type: none;
    margin-top: 15px;
    padding: 0;
}

.section__leftside li {
    margin-bottom: 30px;
}

.section__leftside li > a:visited {
    color: black;
}

.section__rightside {
    flex-basis: 73%;
    max-width: 73%;
}

.section__leftside button {
    margin-top: 20px;
    border: none;
    background-color: transparent;
    background-image: url(../images/down_arrow.svg);
    background-repeat: no-repeat;
    width: 50px;
    height: 100px;
}

.wrapper {
    max-width: 1080px;
    width: 83%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.wrapper h1 {
    font-family: SharpGroteskWide, Open Sans, sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 46px;
}

.wrapper > a {
    color: #0061ff;
}

.wrapper > a:visited {
    color: #0061ff;
}

.wrapper > a:hover {
    text-decoration: none;
}

.section-plans {
    padding: 0;
}

.section-plans h1 {
    padding-top: 170px;
    margin-top: 92px;
}

.section-plans__inputs {
    display: flex;
    justify-content: left;
    align-items: start;
}

.inputs__item {
    padding: 10px;
}

.plans {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    /* width: 83%; */
    /* max-width: 1080px; */
    /* margin: 0 auto; */
}

.plans__item {
    /* flex: 0 0 100px; */
    padding: 30px;
    border: 1px solid #e0e0e0;
    font-family: SharpGrotesk, Open Sans, sans-serif;
    font-size: 16px;
    line-height: 26px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 23%;
    /* box-sizing: border-box; */
    /* justify-content: flex-start; */
}

.plans__item::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: 10px;
    background-color: black;
}

.item_top {
    position: relative;
}

.item_top,
.item_bottom,
.item__link {
    flex: 0 0 23%;
}

.item_top h2 {
    font-weight: 500;
    letter-spacing: 0px;
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
}

.item_top p {
    margin: 0;
    text-align: left;
    padding-right: 10px;
}

.item_top p:first-of-type {
    font-size: 40px;
    line-height: 46px;
}

.item_top p:nth-of-type(2) {
    color: #637381;
}

.item_top::after {
    content: "";
    width: 50px;
    border-bottom: 1px black solid;
    position: absolute;
    bottom: -20px;
}

.item_bottom {
    display: flex;
    flex-direction: column;
    /* justify-content: stretch; */
    justify-content: space-between;
    position: relative;
    /* flex: 0 0 80%; */
}

.item_bottom > ul {
    flex: 2 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 45px;
}

.item_bottom li {
    margin-bottom: 20px;
    position: relative;
}

.item_bottom li::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -30px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.folder_icon::before {
    background-image: url("https://cfl.dropboxstatic.com/static/images/business/bermuda/icons/folder.svg");
}

.sharing_icon::before {
    background-image: url("https://cfl.dropboxstatic.com/static/images/business/bermuda/icons/sharing.svg");
}

.team_icon::before {
    background-image: url("https://cfl.dropboxstatic.com/static/images/business/bermuda/icons/team.svg");
}

.lock_icon::before {
    background-image: url("https://cfl.dropboxstatic.com/static/images/business/bermuda/icons/black-lock.svg");
}

.star_icon::before {
    background-image: url("https://cfl.dropboxstatic.com/static/images/business/bermuda/icons/black-star.svg");
}

.chat_icon::before {
    background-image: url("https://cfl.dropboxstatic.com/static/images/business/bermuda/icons/chat-bubble.svg");
}

.item_bottom > a {
    flex: 1 1;
    font-size: 16px;
    line-height: 26px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #0061ff;
    border: 1px solid #0061ff;
    text-decoration: none;
    padding: 10px 20px;
    text-align: center;
}

.item_bottom > a:hover {
    box-shadow: 0 0 0 2px #0061ff;
}

.item_bottom > p {
    flex: 0 0;
}

.section-features {
    margin-top: 100px;
}

.features {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.feature-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 0 1 29%;
    width: 29%;
    margin-bottom: 80px;
}

.feature-item img {
    width: 100%;
}

.feature-item__text {
    flex: 1 0 0;
}

.feature-item__text h2 {
    font-size: 25px;
    line-height: 32px;
}

.feature-item__text p {
    font-family: SharpGrotesk, Open Sans, sans-serif;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.5px;
}

.feature-item__text a:visited {
    color: black;
}

.feature-item__text a:hover {
    text-decoration: none;
    flex-wrap: wrap;
}

.reviews {
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto;
    align-items: stretch;
    justify-items: stretch;
}

.reviews__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
}

.reviews img {
    width: 150px;
    height: 75px;
    filter: invert(100%);
    object-fit: contain;
}

.reviews__item_big {
    display: initial;
    grid-column: 3 / 5;
    grid-row: 1 / 3;
    font-family: AtlasGrotesk, Open Sans, sans-serif;
    font-size: 14px;
    line-height: 21px;
    padding: 40px 40px;
}

.reviews__item_big img {
    width: 150px;
    height: 48px;
    filter: invert(0%);
}

.reviews__item_big blockquote {
    margin: 0;
}

.reviews__item.item1 {
    background-color: #a2d39b;
}

.reviews__item.item2 {
    background-color: #61082b;
}

.reviews__item.item3 {
    background-color: #f5f5f5;
}

.reviews__item.item4 {
    background-color: #d5001f;
}

.reviews__item.item5 {
    background-color: #b4d0e7;
}

.reviews__item.item6 {
    background-color: #0093ce;
}

.reviews__item.item7 {
    background-color: #ff1c1c;
}

.reviews__item.item8 {
    background-color: #0d2481;
}

.reviews__item.item9 {
    background-color: #ffd830;
}

.section-try {
    /* margin: 0; */
    padding: 80px 0;
    background-color: #b4d0e7;
}

.section-try .wrapper {
    display: flex;
    flex-direction: row;
}

.section-try__left {
    width: 70%;
}

.section-try__left h1 {
    margin: 0;
    font-size: 40px;
    line-height: 46px;
    color: #61082b;
    font-family: SharpGroteskWide, Open Sans, sans-serif;
    font-weight: 600;
}

.section-try__right {
    width: 30%;
}

.section-try__right > a {
    background-color: white;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 30px;
    /* flex: 0 1 30%; */
    box-sizing: border-box;
}

.section-try__right a:visited {
    color: initial;
}

.section-try__right > a:hover {
    background-color: #f5f5f5;
}

.section-try__right p {
    font-size: 14px;
    line-height: 21px;
}

.section-try__right p > a:hover {
    text-decoration: none;
}

.section-faq {
    margin-top: 130px;
}

.faq-questions {
    list-style: none;
    padding: 0;
    margin: 0;
}

.section-faq h1 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 50px;
}

.faq-item {
    border-bottom: 1px solid #d0d0d3;
    padding: 20px 0;
}

.faq-item:first-of-type {
    border-top: 1px solid #d0d0d3;
}

.faq-item__button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: SharpGrotesk, Open Sans, sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-indent: 0;
}

.faq-item__button,
.faq-item__button:active,
.faq-item__button:focus {
    outline: none;
}

.faq-item__arrow {
    display: inline-block;
    position: relative;
    width: 10px;
    height: 10px;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    border-radius: 2px;
    transform: rotate(-45deg);
    justify-self: end;
    margin-right: 50px;
    transition: transform 0.25s cubic-bezier(0.5, 0, 0, 1), bottom 0.25s cubic-bezier(0.5, 0, 0, 1);
}

.faq-item__arrow_active {
    transform: rotate(135deg);
    bottom: 0;
}

.faq-item__text {
    font-family: SharpGrotesk, Open Sans, sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #637381;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0.5, 0, 0, 1), opacity 0.5s cubic-bezier(0.5, 0, 0, 1);
}

.faq-item__text_active {
    opacity: 1;
    max-height: 200px;
    transition: opacity 1s cubic-bezier(0.5, 0, 0, 1), max-height 1s cubic-bezier(0.5, 0, 0, 1);
}

footer {
    color: white;
    background-color: black;
    padding: 150px 0;
}

.section-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.section-links__item {
    flex: 1 1 20%;
    padding-right: 40px;
}

.section-links__header {
    font-family: SharpGrotesk, Open Sans, sans-serif;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 10px;
}

.section-links__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.section-links__list a {
    font-family: SharpGrotesk, Open Sans, sans-serif;
    font-size: 13px;
    line-height: 30px;
    color: white;
    text-decoration: none;
}

.section-links__list a:hover {
    text-decoration: underline;
}

.language-change {
    padding-top: 100px;
}

.language-change__container {
    display: flex;
    justify-content: start;
    align-items: flex-end;
    font-size: 13px;
    font-weight: 600;
    color: #767676;
}

.language-change__button:hover {
    cursor: pointer;
}

.language-change__button span:hover {
    text-decoration: underline;
    color: #434344;
}

.language-change::before {
    content: "";
    width: 100px;
    height: 1px;
    background-color: white;
    display: block;
    margin-bottom: 50px;
}

.language-change__icon {
    background-image: url(https://cfl.dropboxstatic.com/static/images/sprites/web_sprites-vflT1pLW1.png);
    background-repeat: no-repeat;
}

.language-change__globus {
    background-position: left -9180px;
    width: 20px;
    height: 20px;
    margin: 0 4px -1px 0;
}

.language-change__arrow {
    background-position: left -11806px;
    width: 9px;
    height: 5px;
    margin: 0 0 2px 2px;
}

.modal-lang-window {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    width: 100%;
    height: 100%;
}

.modal-lang-window_active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body_no-scroll {
    overflow: hidden;
}

.modal-lang-window .logo,
.modal-lang-window__close-button {
    position: absolute;
}

.modal-lang-window .logo {
    top: 3%;
    left: 3%;
}

.modal-lang-window .logo__text {
    color: black;
}

.modal-lang-window__close-button {
    background-color: transparent;
    border: transparent;
    border-radius: 10px;
    top: 2%;
    right: 2%;
    background: url(https://cfl.dropboxstatic.com/static/images/index/rebrand/ob-button-close-vflzGggYo.svg) center center no-repeat;
    width: 32px;
    height: 32px;
    text-align: center;
    cursor: pointer;
}

.modal-lang-window__text h2 {
    font-size: 25px;
    line-height: 1.8;
    font-family: SharpGroteskWide, Open Sans, sans-serif;
    font-weight: 500;
    color: black;
}

.modal-lang-window__list {
    columns: 2;
    padding: 0;
}

.modal-lang-window__list li {
    padding-right: 75px;
}

.modal-lang-window__list a,
.modal-lang-window__list a:visited {
    color: #005ff8;
    text-decoration: none;
    line-height: 1.8em;
    font-family: SharpGrotesk, "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.modal-lang-window__list a:hover {
    text-decoration: underline;
}
