body {
    min-width: 800px;
    background-color: rgb(180, 208, 231);
    font-family: SharpGrotesk, "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 2000px;
}

header {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 20px;
}

header a {
    text-decoration: none;
}

header a:visited {
    color: black;
}

header a:hover {
    text-decoration: underline;
}

.logo {
    flex: 1;
}

.logo * {
    vertical-align: middle;
}

.logo__text {
    font-size: 2em;
    font-weight: 700;
}

.logo__text_blue {
    font-weight: 500;
    color: #0061ff;
}

.navigation {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    flex: 2;
    margin-left: auto;
    text-align: right;
    margin-right: 20px;
}

.arrow {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    transform: rotate(45deg) translate(0, -5px);
}

.navigation__item {
    position: relative;
    padding: 10px;
}

.navigation__item:nth-child(n + 1) {
    padding-left: 20px;
}

.navigation__item button {
    background-color: rgb(180, 208, 231);
    border: none;
    box-sizing: border-box;
}

.navigation__item button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.navigation__dropbox {
    position: absolute;
    left: 0;
    top: 20px;
    display: none;
    background: #fff;
    border: 1px solid #b8b8b8;
    color: #637381;
    list-style-type: none;
    padding: 20px 40px 10px 10px;
    text-align: left;
}

.navigation__dropbox li {
    margin: 15px;
}

.navigation__dropbox a {
    display: inline-block;
    width: 100%;
}

.navigation__dropbox a:visited {
    color: #637381;
}

.navigation__dropbox::before {
    position: absolute;
    top: -10px;
    left: calc(50% - 5px);
    content: "";
    border-bottom: 10px solid #b8b8b8;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.navigation__dropbox::after {
    position: absolute;
    top: -8px;
    left: calc(50% - 4px);
    content: "";
    border-bottom: 9px solid #fff;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
}

.navigation__item:hover .navigation__dropbox {
    display: inline;
}

.button-try {
    flex: 0.5;
    margin-right: 2%;
    background-color: rgb(255, 255, 255);
    padding: 10px 0px;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
}

.button-try:hover {
    text-decoration: none;
    background-color: #f5f5f5;
}
