html {
    scroll-behavior: smooth;
}

html * {
    box-sizing: border-box;
}

body {
    font-family: SharpGrotesk, "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    /* height: 2000px; */
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    text-decoration: underline;
}

.link_with_unerline {
    text-decoration: underline;
}

.link_with_unerline:hover {
    text-decoration: none;
}

button,
button:active,
button:focus {
    outline: none;
}

.button_blue {
    background-color: #0061ff !important;
    color: #fff !important;
    border: none !important;
    text-decoration: none !important;
    box-shadow: none !important;
}

.button_blue:hover {
    background-color: #3b85ff !important;
    border: none !important;
    text-decoration: none !important;
}

.main_color {
    background-color: rgb(180, 208, 231);
    /* width: 100%; */
}

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 20px;
    z-index: 1;
}

.head-background {
    background-color: white;
    position: absolute;
    height: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    transition: height 0.2s ease-in;
    border-bottom: 1px solid rgba(208, 208, 211, 0.5);
}

.head-background_active {
    height: 100%;
    width: 100%;
    transition: height 0.2s ease-in;
}

.header__left-side {
    display: flex;
    align-items: center;
    z-index: 1;
}

.header__right-side {
    display: flex;
    padding-right: 20px;
    align-items: center;
    z-index: 1;
    flex-shrink: 1;
    max-width: calc(100% - 330px);
}

.logo {
    flex: 1;
}

.logo * {
    vertical-align: middle;
}

.logo__text {
    font-size: 2em;
    font-weight: 700;
}

.logo__text_blue {
    font-weight: 500;
    color: #0061ff;
}

.navigation {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 17px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.arrow {
    display: inline-block;
    position: absolute;
    top: calc(50% - 2px);
    right: -10px;
    width: 5px;
    height: 5px;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    transform: rotate(45deg) translate(0, -5px);
}

.navigation__item {
    position: relative;
    padding: 10px;
    margin-right: 20px;
    text-align: left;
    /* flex: 1 1 25%; */
    /* width: 25%; */
}

.navigation__item:hover,
.navigation__item *:hover {
    cursor: pointer;
}

.navigation__item button {
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    padding: 0;
}

.navigation__item button:hover {
    text-decoration: underline;
}

@media screen and (min-width: 1366px) {
    .navigation__item button::after {
        content: "";
        position: absolute;
        top: 20px;
        left: 0;
        width: 100%;
        height: 20px;
        background-color: transparent;
    }

    .navigation__dropbox {
        display: inline-box;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        left: 0px;
        top: 30px;
        width: 150px;
        background: #fff;
        border: 1px solid #b8b8b8;
        color: #637381;
        list-style-type: none;
        padding: 20px 40px 10px 10px;
        text-align: left;
        transition: opacity 0.3s;
    }

    .navigation__item:hover .navigation__dropbox {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.3s;
    }
}

.navigation__dropbox li {
    margin: 15px;
}

.navigation__dropbox a {
    display: inline-block;
    width: 100%;
}

.navigation__dropbox a:visited {
    color: #637381;
}

@media screen and (min-width: 1366px) {
    .navigation__dropbox::before {
        position: absolute;
        top: -10px;
        left: calc(50% - 5px);
        content: "";
        border-bottom: 10px solid #b8b8b8;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
    }

    .navigation__dropbox::after {
        position: absolute;
        top: -8px;
        left: calc(50% - 4px);
        content: "";
        border-bottom: 9px solid #fff;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
    }
}

@media screen and (max-width: 1365px) {
    .navigation-container {
        display: none;
        position: absolute;
        top: calc(100% + 1px);
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: white;
        padding-top: 30px;
    }

    .navigation-container_active {
        display: block;
    }

    .navigation-container .navigation {
        flex-direction: column;
        align-items: start;
        font-size: 17px;
        line-height: 20px;
    }

    .navigation-container .navigation__item {
        width: 100%;
        padding: 0;
        cursor: pointer;
    }

    .navigation__link {
        display: inline-block;
        width: 100%;
        padding: 20px 0 20px 25px;
    }

    .navigation__item button {
        width: 100%;
        text-align: left;
        position: relative;
    }

    .navigation__item button::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
    }

    .navigation__item button .navigation__link:hover {
        text-decoration: underline;
    }

    .navigation__item-with-button_active {
        background-color: #efefef;
    }

    .arrow {
        top: calc(50% - 8px);
        right: 70px;
        width: 12px;
        height: 12px;
        transition: transform 0.3s cubic-bezier(0.5, 0, 0, 1);
    }

    .navigation__item-with-button_active .arrow {
        transform: rotate(225deg);
    }

    .navigation__dropbox {
        list-style-type: none;
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        position: static;
        width: 100%;
        border: none;
        color: #637381;
        text-align: left;
        transition: max-height 0.25s, opacity 0.25s;
        padding: 0;
        margin: 0;
    }

    .navigation__item-with-button_active .navigation__dropbox {
        opacity: 1;
        max-height: 300px;
        transition: max-height 0.25s, opacity 0.25s;
    }

    .navigation__dropbox li {
        padding: 0;
        margin: 0;
        position: relative;
    }

    .navigation__dropbox li:hover ::before {
        content: "";
        background-color: black;
        height: 100%;
        width: 3px;
        position: absolute;
        left: 0;
        top: 0;
    }

    .navigation__dropbox li a {
        padding: 20px 0 20px 25px;
    }
} /* end of media for screens less than 1366px */

.button-try {
    background-color: rgb(255, 255, 255);
    padding: 5px 20px;
    font-size: 13px;
    line-height: 20px;
    text-align: center;

    display: flex;
    align-items: center;
    height: 85%;
    margin: 0 30px;
    /* border: 1px solid transparent; */
    box-sizing: border-box;
}

.button-try:hover {
    text-decoration: none;
    background-color: #f5f5f5;
}

@media screen and (max-width: 800px) {
    .button-try {
        display: none;
    }
}

.button-open-nav {
    background-color: transparent;
    border: none;
    position: relative;
    box-sizing: border-box;
    padding: 12px;
    /* margin: 0 30px 0 0; */
    cursor: pointer;
    /* margin-right: 1153px; */
}

.button-open-nav:focus {
    outline: auto;
}

@media screen and (min-width: 1366px) {
    .button-open-nav {
        display: none;
    }
}

.button-open-nav__line {
    position: absolute;
    left: calc(50% - 10px);
    background-color: black;
    height: 2px;
    width: 20px;
}

.button-open-nav__line_1 {
    top: 4px;
}

.button-open-nav__line_2,
.button-open-nav__line_3 {
    top: calc(50% - 1px);
}

.button-open-nav__line_4 {
    bottom: 4px;
}

.section_intro {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section_intro h1 {
    font-size: 95px;
    line-height: 108px;
    font-family: "SharpGroteskCondensed", "Open Sans", sans-serif;
    letter-spacing: -1px;
    padding-top: 50px;
    margin: 60px 4% 25px 4%;
    width: 92%;
}

@media screen and (max-width: 1025px) {
    .section_intro h1 {
        font-size: 71px;
        line-height: 80px;
    }
}

@media screen and (max-width: 800px) {
    .section_intro h1 {
        font-size: 50px;
        line-height: 60px;
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (max-width: 800px) {
    .section_intro h1 {
        font-size: 40px;
        line-height: 50px;
    }
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: visible;
    height: 450px;
    margin: 0 4%;
}

@media screen and (max-width: 800px) {
    .section {
        height: auto;
        margin: 0 10%;
        margin-bottom: 40px;
    }
}

.section__leftside {
    flex-basis: 25%;
    max-width: 25%;
}

@media screen and (max-width: 800px) {
    .section__leftside {
        flex-basis: 90%;
        max-width: 90%;
    }
}

.section__leftside p {
    margin-top: 0;
    font-family: SharpGrotesk, Open Sans, sans-serif;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 40px;
}

.section__leftside > a {
    display: block;
    min-width: 200px;
    font-size: 16px;
    line-height: 26px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #0061ff;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .section__leftside > a {
        max-width: 300px;
    }
}

.section__leftside > a:hover {
    background-color: #3b85ff;
}

.section__leftside ul {
    font-family: AtlasGrotesk, Open Sans, sans-serif;
    font-size: 14px;
    line-height: 21px;
    list-style-type: none;
    margin-top: 15px;
    padding: 0;
}

.section__leftside li {
    margin-bottom: 30px;
}

.section__rightside {
    flex-basis: 73%;
    max-width: 73%;
    margin-left: 4%;
}

@media screen and (max-width: 1025px) {
    .section__rightside {
        margin-left: 10%;
    }
}

@media screen and (max-width: 800px) {
    .section__rightside {
        display: none;
    }
}

.section__rightside img {
    width: 100%;
    height: auto;
}

.section__arrow-button {
    margin-top: 20px;
    border: none;
    background-color: transparent;
    background-image: url(../images/down_arrow.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

@media screen and (max-width: 1025px) {
    .section__arrow-button {
        display: none;
    }
}

.wrapper {
    max-width: 1080px;
    width: 83%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.wrapper h1 {
    font-family: SharpGroteskWide, Open Sans, sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 46px;
}

.wrapper > a {
    color: #0061ff;
}

.wrapper > a:visited {
    color: #0061ff;
}

.wrapper > a:hover {
    text-decoration: none;
}

.section-plans {
    padding: 0;
}

.section-plans h1 {
    padding-top: 170px;
    margin-top: 92px;
}

.inputs-with-radio {
    display: flex;
    justify-content: left;
    align-items: center;
}

.inputs-with-radio__item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.inputs-with-radio__item::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border: 1px solid #b8b8b8;
    border-radius: 50%;
    margin-right: 5px;
}

.inputs-with-radio__item_checked::before {
    border: 5px solid #0061ff;
}

.plans {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    margin-top: 70px;
}

.plans__item {
    /* flex: 0 0 100px; */
    padding: 30px;
    border: 1px solid #e0e0e0;
    font-family: SharpGrotesk, Open Sans, sans-serif;
    font-size: 16px;
    line-height: 26px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 23%;
    /* box-sizing: border-box; */
    /* justify-content: flex-start; */
}

.plans__item::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: 10px;
    background-color: black;
}

.plans__banner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    left: -1px;
    top: -70px;
    background-color: black;
    color: white;
    box-sizing: border-box;
    width: calc(100% + 2px);
    height: 70px;
    font-family: SharpGrotesk, Open Sans, sans-serif;
    font-size: 15px;
    line-height: 26px;
    padding: 10px 30px;
}

.plans__banner h3 {
    margin: 0;
    padding: 0;
}

.item__top {
    position: relative;
}

.item__top,
.item__bottom,
.item__link {
    flex: 0 0 23%;
}

.item__top h2 {
    font-weight: 500;
    letter-spacing: 0px;
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
}

.item__top p {
    margin: 0;
    text-align: left;
    padding-right: 10px;
}

.item__price-monthly {
    display: none;
}

.item__price-yearly {
    display: none;
}

.item__price_active {
    display: block;
}

.item_big-text {
    font-size: 40px;
    line-height: 46px;
}

.item__text-under-price {
    color: #637381;
}

.item__top::after {
    content: "";
    width: 50px;
    border-bottom: 1px black solid;
    position: absolute;
    bottom: -20px;
}

.item__bottom {
    display: flex;
    flex-direction: column;
    /* justify-content: stretch; */
    justify-content: space-between;
    position: relative;
    /* flex: 0 0 80%; */
}

.item__bottom > ul {
    flex: 2 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 45px;
}

.item__bottom li {
    margin-bottom: 20px;
    position: relative;
}

.item__bottom li::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -30px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

.folder_icon::before {
    background-image: url("https://cfl.dropboxstatic.com/static/images/business/bermuda/icons/folder.svg");
}

.sharing_icon::before {
    background-image: url("https://cfl.dropboxstatic.com/static/images/business/bermuda/icons/sharing.svg");
}

.team_icon::before {
    background-image: url("https://cfl.dropboxstatic.com/static/images/business/bermuda/icons/team.svg");
}

.lock_icon::before {
    background-image: url("https://cfl.dropboxstatic.com/static/images/business/bermuda/icons/black-lock.svg");
}

.star_icon::before {
    background-image: url("https://cfl.dropboxstatic.com/static/images/business/bermuda/icons/black-star.svg");
}

.chat_icon::before {
    background-image: url("https://cfl.dropboxstatic.com/static/images/business/bermuda/icons/chat-bubble.svg");
}

.item__button {
    flex: 1 1;
    font-size: 16px;
    line-height: 26px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #0061ff;
    border: 1px solid #0061ff;
    padding: 10px 20px;
    text-align: center;
}

.item__button:hover {
    box-shadow: 0 0 0 2px #0061ff;
    text-decoration: none;
}

.item__bottom > p {
    flex: 0 0;
}

.section-features {
    margin-top: 100px;
}

.item__link .item_blue-link {
    color: #0061ff;
    text-decoration: underline;
}

.item__link .item_blue-link:hover {
    text-decoration: none;
}

.features {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.feature-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 0 1 29%;
    width: 29%;
    margin-bottom: 80px;
}

.feature-item img {
    width: 100%;
}

.feature-item__text {
    flex: 1 0 0;
}

.feature-item__text h2 {
    font-size: 25px;
    line-height: 32px;
}

.feature-item__text p {
    font-family: SharpGrotesk, Open Sans, sans-serif;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 0.5px;
}

.section-reviews .link_with_unerline {
    font-size: 18px;
    line-height: 20px;
}

.reviews {
    display: grid;
    /* grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto;
    align-items: stretch;
    justify-items: stretch; */

    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(24, 1fr);
    /* grid: auto-flow dense/repeat(24, 1fr); */
    grid-auto-rows: auto;
    grid-auto-flow: row dense;
    grid-auto-columns: 4.16667%;
    width: 100%;
    min-width: 0;
    margin-top: 50px;
}

.reviews__item {
    grid-column: auto/span 4;

    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 40px 20px; */
    padding-top: 100%;
    position: relative;
}

.reviews__item_active {
    outline: 10px solid rgba(255, 255, 255, 0.4);
    outline-offset: -10px;
}

.reviews__item img {
    width: 150px;
    height: 75px;
    filter: invert(100%);
    object-fit: contain;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.reviews__item_big {
    display: flex;
    justify-content: center;
    align-items: center;

    /* grid-column: 3 / 5; */
    /* grid-row: 1 / 3; */
    grid-row: auto/span 2;
    grid-column-start: 9;
    grid-column: auto/span 8;

    position: relative;
}

.reviews__item.item1 {
    background-color: #a2d39b;
}

.reviews__item.item2 {
    background-color: #61082b;
}

.reviews__item_big.item3 {
    background-color: #f5f5f5;
}

.reviews__item.item4 {
    background-color: #d5001f;
}

.reviews__item.item5 {
    background-color: #b4d0e7;
}

.reviews__item.item6 {
    background-color: #0093ce;
}

.reviews__item.item7 {
    background-color: #ff1c1c;
}

.reviews__item.item8 {
    background-color: #0d2481;
}

.reviews__item.item9 {
    background-color: #ffd830;
}

.customer-review {
    flex: 1 1 80%;
    height: 65%;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px 0 40px;
    font-size: 16px;
    line-height: 26px;
}

.customer-review__image {
    width: 150px;
    height: 75px;
    filter: invert(0%);
    object-fit: contain;
}

.customer-review__container {
    position: relative;
    padding-bottom: 10px;
}

.customer-review__container::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 50px;
    background-color: #d0d0d3;
}

.customer-review__text {
    margin: 0;
}

.customer-review__author {
    font-size: 14px;
    line-height: 21px;
}

.customer-review__progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 0px;
    background-color: black;
    animation: progress 5s linear infinite;
}

@keyframes progress {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.section-try {
    /* margin: 0; */
    padding: 110px 0;
    background-color: #b4d0e7;
}

.section-try .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section-try__left {
    width: 60%;
}

.section-try__left h1 {
    margin: 0;
    font-size: 40px;
    line-height: 46px;
    color: #61082b;
    font-family: SharpGroteskWide, Open Sans, sans-serif;
    font-weight: 600;
}

.section-try__right {
    width: 30%;
}

.section-try__right > a {
    background-color: white;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    padding: 15px 30px;
    /* flex: 0 1 30%; */
    box-sizing: border-box;
}

.section-try__right a:visited {
    color: initial;
}

.section-try__right > a:hover {
    background-color: #f5f5f5;
}

.section-try__right p {
    font-size: 14px;
    line-height: 21px;
}

.section-try__right p > a:hover {
    text-decoration: none;
}

.section-faq {
    margin-top: 130px;
}

.faq-questions {
    list-style: none;
    padding: 0;
    margin: 0;
}

.section-faq h1 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 50px;
}

.faq-item {
    border-bottom: 1px solid #d0d0d3;
    padding: 20px 0;
}

.faq-item:first-of-type {
    border-top: 1px solid #d0d0d3;
}

.faq-item__button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: SharpGrotesk, Open Sans, sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-indent: 0;
}

.faq-item__arrow {
    display: inline-block;
    position: relative;
    width: 10px;
    height: 10px;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    border-radius: 2px;
    transform: rotate(-45deg);
    justify-self: end;
    margin-right: 50px;
    transition: transform 0.25s cubic-bezier(0.5, 0, 0, 1), bottom 0.25s cubic-bezier(0.5, 0, 0, 1);
}

.faq-item__arrow_active {
    transform: rotate(135deg);
    bottom: 0;
}

.faq-item__text {
    font-family: SharpGrotesk, Open Sans, sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #637381;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0.5, 0, 0, 1), opacity 0.5s cubic-bezier(0.5, 0, 0, 1);
}

.faq-item__text_active {
    opacity: 1;
    max-height: 200px;
    transition: opacity 1s cubic-bezier(0.5, 0, 0, 1), max-height 1s cubic-bezier(0.5, 0, 0, 1);
}

footer {
    color: white;
    background-color: black;
    padding: 150px 0;
    margin-top: 140px;
}

.section-links {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.section-links__item {
    flex: 1 1 20%;
    padding-right: 40px;
}

.section-links__header {
    font-family: SharpGrotesk, Open Sans, sans-serif;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 10px;
}

.section-links__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.section-links__list a {
    font-family: SharpGrotesk, Open Sans, sans-serif;
    font-size: 13px;
    line-height: 30px;
    color: white;
    text-decoration: none;
}

.section-links__list a:hover {
    text-decoration: underline;
}

.language-change {
    padding-top: 100px;
}

.language-change__container {
    display: flex;
    justify-content: start;
    align-items: flex-end;
    font-size: 13px;
    font-weight: 600;
    color: #767676;
}

.language-change__button:hover {
    cursor: pointer;
}

.language-change__button span:hover {
    text-decoration: underline;
    color: #434344;
}

.language-change::before {
    content: "";
    width: 100px;
    height: 1px;
    background-color: white;
    display: block;
    margin-bottom: 50px;
}

.language-change__icon {
    background-image: url(https://cfl.dropboxstatic.com/static/images/sprites/web_sprites-vflT1pLW1.png);
    background-repeat: no-repeat;
}

.language-change__globus {
    background-position: left -9180px;
    width: 20px;
    height: 20px;
    margin: 0 4px -1px 0;
}

.language-change__arrow {
    background-position: left -11806px;
    width: 9px;
    height: 5px;
    margin: 0 0 2px 2px;
}

.modal-lang-window {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.modal-lang-window_active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body_no-scroll {
    overflow: hidden;
}

.modal-lang-window .logo,
.modal-lang-window__close-button {
    position: absolute;
}

.modal-lang-window .logo {
    top: 3%;
    left: 3%;
}

.modal-lang-window .logo__text {
    color: black;
}

.modal-lang-window__close-button {
    background-color: transparent;
    border: transparent;
    border-radius: 10px;
    top: 2%;
    right: 2%;
    background: url(https://cfl.dropboxstatic.com/static/images/index/rebrand/ob-button-close-vflzGggYo.svg) center center no-repeat;
    width: 32px;
    height: 32px;
    text-align: center;
    cursor: pointer;
}

.modal-lang-window__text h2 {
    font-size: 25px;
    line-height: 1.8;
    font-family: SharpGroteskWide, Open Sans, sans-serif;
    font-weight: 500;
    color: black;
}

.modal-lang-window__list {
    columns: 2;
    padding: 0;
}

.modal-lang-window__list li {
    padding-right: 75px;
}

.modal-lang-window__list a,
.modal-lang-window__list a:visited {
    color: #005ff8;
    text-decoration: none;
    line-height: 1.8em;
    font-family: SharpGrotesk, "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.modal-lang-window__list a:hover {
    text-decoration: underline;
}
